.git
.github
.venv
venv
__pycache__
**/__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
*.md
!README.md
.env
.env.*
!.env.example
data.json
ssl_temp
bin
tunnels_state.json
*.zip
Amnezia-Web-Panel-main.zip
screen
.idea
.vscode
*.log
dist
build
*.spec
.dockerignore
Dockerfile.warp
docker-compose.warp.yml
protocol_telemt
